module.exports = {
  name: "workspaces-cost-optimizer",
  version: "v1",
  s3Upload: {

    // Account/Bucket for Lambda Zip
    solutionsMaster: {
      accessKeyId: "YOUR_ACCESS_KEY",
      secretAccessKey: "YOUR_ACCESS_SECRET",
      bucketName: "YOUR_BUCKET_NAME"
    },

    // Account/Bucket for CFT Template
    solutionsReference: {
      accessKeyId: "YOUR_ACCESS_KEY",
      secretAccessKey: "YOUR_ACCESS_SECRET",
      bucketName: "YOUR_BUCKET_NAME"
    }
  }
}
