uuid==1.30
pytest==7.1.2
pytest-mock==3.8.2
coverage==6.4.1
requests==2.28.0
boto3==1.24.10
attrs==22.1.0
boto3==1.24.10
botocore==1.27.50
certifi==2022.12.7
charset-normalizer==2.0.12
coverage==6.4.1
idna==3.3
iniconfig==1.1.1
jmespath==1.0.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-mock==3.8.2
python-dateutil==2.8.2
requests==2.28.0
s3transfer==0.6.0
six==1.16.0
tomli==2.0.1
urllib3==1.26.11
uuid==1.30