pytest>=7.2.0
pytest-mock==3.10.0
coverage==7.2.0
requests==2.32.0
boto3==1.34.144
attrs==v23.1.0
botocore==1.34.144
certifi==2024.07.04
charset-normalizer==2.1.1
idna==3.7
iniconfig==2.0.0
jmespath==1.0.1
packaging==23.0
pluggy==1.0.0
pyparsing==3.0.9
python-dateutil==2.9.0
s3transfer==0.10.2
six==1.16.0
tomli==2.0.1
urllib3==2.2.2
freezegun==1.2.2
aws-lambda-powertools==2.39.1
